* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #04293A;
}

h1 {
    font-size: 40px;
}

i {
    position: absolute;
    font-size: 50px;
    color: white;
    
}

a {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    padding: 10px 10px;
}

input {
    width: 100%;
    padding: 10px 16px;
    margin: 8px 0;
    border-radius: 5px;
}

button:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

ul {
    list-style-type: none;
    font-size: 0.8rem;
    padding: 5px;
}

li {
    padding: 5px;
}

h3 {
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;

}

#link1 {
    margin: 0 25px 0 100px;
    
}


/*********CLASS SELECTORS********/


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://reverb-res.cloudinary.com/image/upload/Devine-6_nsyn97.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.dev-text {
    padding: 10px 10px;
}

.links {
    float: right;
    
}

.buttons {
    margin: 0 30px 0 0; 
    transition: 0.2s ease-in-out;

}

.bottom-buttons {
    transition: 0.2s ease-in-out;

}

.bottom-buttons:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 18px 5px black;
}
.buttons:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 18px 5px black;
}

.btn {
    border-radius: 10px;
    padding: 8px 8px;
}

.btn:hover {
    cursor: pointer;
}

.container {
    background-color: lightgray;
    display: flex;
    height: 2000px;

}

.bottom-parent {
    background-color: #04293A;
    
    display: flex;
    justify-content: space-between;
    padding: 50px 10vw 20px 10vw;
    


}

.middle {
    height: 300px;
    background-color: #064663;
    position: relative;

}

.middle-text {
    /* text-align: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.middle-text h2 {
    text-align: center;
}

.form {
    width: 300px;
    background-color: #398AB9;
    padding: 25px;
    margin: auto;
    border-radius: 5px;
    
}

.form textarea {
    width: 100%;
    padding: 10px 16px;
    margin: 8px 0;
    border-radius: 5px;

}

.footer {
    display: flex;
    background-color: #04293A;
    height: 500px;
    justify-content: center;
    
}

.portfolio {
    color: white;
    padding: 20px 0 0 40px;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}


/*********ID SELECTORS********/

#div1 {
    background-color: #D3DEDC;
    height: 250px;
    padding: 20px 0 20px 0;

    width: 20vw;
    border-radius: 15px;
}
#div2 {
    background-color: #D3DEDC;
    height: 250px;
    padding: 20px 0 20px 0;

    width: 20vw;
    border-radius: 15px;
}
#div3 {
    background-color: #D3DEDC;
    height: 250px;
    padding: 20px 0 20px 0;
    border-radius: 15px;
    
    
    width: 20vw;
}



#mid-p {
    float: left;
    
}

#submit:hover {
    background-color: lightskyblue;
    cursor: pointer;
}



@media screen and (max-width: 1050px){
    .bottom-parent {
        display: flex;
        flex-wrap: wrap;
        
    }

    #div2 {
        width: 30vw;
    }
}



@media screen and (max-width: 600px) {
    .bottom-parent {
        justify-content: space-evenly;
        
        align-items: center;
        
    }
    #div1 {
  
        margin: 0 0 0 15px;
    }
    #div3 {
        width: 60vw;
        margin: 15px 15px 15px 15px;
        
        
    }

    #div2 {
        width: 30vw;
        /* height: 25vh; */
        margin: 15px 15px 15px 15px;
        
    }


}


@media screen and (max-width: 500px) {
        .bottom-parent {
            /* display: inline-block; */
            flex-direction: column;
            position: relative;
            align-items: center;
            
        }
        #div2 {
            margin: 15px 0 0 0;
            width: 60vw;
            
            
            
        }

        #div3 {
            margin: 15px 0 0 0;
            width: 60vw;
            display: inline-block;
            
            
            
        }

        #div1 {
            width: 60vw;
            margin: 0 0 0 0;
            
        }
        
        }
    
